@tailwind base;
@tailwind components;
@tailwind utilities;

/* h2 {
  -webkit-text-stroke: 1px #ff2eff;
  color: transparent;
  text-shadow: 3px 3px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #d71414, 1px 1px 0 #ec1515;
} */
